* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background-color: white;
  color: darkgray;
}

header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: dodgerblue;
  color: white;
}

nav {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item > a {
  text-decoration: none;
  color: white;
}

.nav-item:first-child {
  font-weight: bold;
}

header > .title {
  flex: 1;
  font-size: 1.5rem;
}

#users-header {
  display: flex;
}

#users-header > h1 {
  align-self: flex-start;
  padding: 1rem;
}

#create-a-user-form {
  display: flex;
  border: solid 1px black;
  border-radius: 5px;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  margin: 100px 250px 0 350px;
  padding: 1rem;
}

#create-a-user-form > h1 {
  align-self: start;
  padding: 1rem;
}

#create-a-user-form label {
  padding: 1rem;
}

#create-a-user-form input {
  width: 50%;
  justify-content: flex-end;
  margin: 1rem;
}

#create-a-user-form select {
  width: 50%;
  justify-content: flex-end;
  margin: .45rem;
}

.buttons {
  align-self: center;
  margin: 0;
  padding: 0;
  display: flex;
}

.buttons > #save-button {
  background-color: dodgerblue;
  color: white;
  margin: 0;
}

#users {
  display: flex;
  flex-flow: wrap column;
  align-items: center;
  justify-content: space-around;
}

#users > div {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem;
  padding: 1rem;
  width: 80vw;
}

.user {
  display: flex;
  flex: 0 0 33%;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 5px;
  margin: 2.5px;
}

.user > h3 {
  font-weight: bold;
}